<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>修改商品信息</title>

</head>
<body>
<!--显示错误信息-->
<div th:if="${errorList} != null">
	<div th:each="error : ${errorList}">
		<div th:text="${error.defaultMessage}" />
	</div>
</div>
<form id="itemForm" action="/items/updateItems" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" value="id" th:value="${itemsCustom.id }" />
	修改商品信息：
	<table width="100%" border=1>
		<tr>
			<td>商品名称</td>
			<td><input type="text" name="name" value="name" th:value="${itemsCustom.name }" /></td>
		</tr>
		<tr>
			<td>商品价格</td>
			<td><input type="text" name="price" value="price" th:value="${itemsCustom.price }" /></td>
		</tr>
		<tr>
			<td>商品生产日期</td>
			<td><input type="text" name="createtime" value="createtime" th:value="${#dates.format(itemsCustom.createtime,'yyyy-MM-dd HH:mm:ss')}" />
			</td>
		</tr>
		<tr>
			<td>商品图片</td>
			<td>
				<th:if test="${item.pic !=null}">
					<!--可以上传，显示有问题？？？-->
					<img src="${itemsCustom.pic}" width=100 height=100/>
					<br/>
				</th:if>
				<input type="file"  name="items_pic"/>
			</td>
		</tr>
		<tr>
			<td>商品简介</td>
			<td>
				<!--textarea有问题呢-->
				<textarea rows="3" cols="30" name="detail" th:value= "${itemsCustom.detail }" ></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="提交"/>
			</td>
		</tr>
	</table>

</form>
</body>

</html>